{% extends "store/base.html" %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="mt-4 mb-4">
            <div class="col-4">
                <h3>Detail Information</h3><hr>
                <p><span class="font-weight-bold">Name: </span> {{user.username}}</p>
                <p><span class="font-weight-bold">Email: </span> {{user.email}}</p>
            </div>
        </div>

        <div class="col-md-6 mt-4 mb-4">
            <h3>Your Orders</h3>
            <hr>
            {% for order in orders %}
            <h4><center>Order # {{ forloop.counter }}</center></h4>
            <table class="table">
            <thead>
            <tr>
                <th scope="col">Item title</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Item Price</th>
            </tr>
            </thead>
            <tbody>
                {% for order_item in order.products.all %}
                    <tr>
                        <td>{{ order_item.product.name }}</td>
                        <td>Rs.{{ order_item.product.price }}</td>
                        <td>
                            {{ order_item.quantity }}
                        </td>
                        <td>
                            Rs.{{ order_item.get_total_item_price }}
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
        <hr>
        {% endfor %}
        </div>

    </div>
</div>


{% endblock %}

<!--{% for order in orders %}-->
<!--            <tbody>-->
<!--                {% for order_item in order.products.all %}-->
<!--                    <tr>-->
<!--                        <td><center>{{ order.id }}</center></td>-->
<!--                        <td>{{ order_item.product.name }}</td>-->
<!--                        <td>Rs.{{ order_item.product.price }}</td>-->
<!--                        <td>-->
<!--                            {{ order_item.quantity }}-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            Rs.{{ order_item.get_total_item_price }}-->
<!--                        </td>-->
<!--                    </tr>-->

<!--                {% endfor %}-->
<!--            </tbody>-->
<!--            {% endfor %}-->